body, html, div, p, ul, li, img, span{
    margin: 0;
    padding: 0;
}


.navbar {
    height: 120px;
    box-shadow: 0 0 20px 10px #b7b7b7;
}

.body {
    margin-top: 150px;
}

.center-container {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.navbar-nav{
    margin-left: 180px;
    padding: 100px;
}

.nav-item{
    margin-right: 70px
}

