{% extends "home.html" %}

{% block dashboard_content %}
<style>
    .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
</style>
<h2 class="mb-5 text-center">Welcome Admin!</h2>
<p class="text-center">This is your tool for <b>managing your policies</b> for IoT-Devices in your Smart Home or Smart Building!</p>
<p class="text-center">You have many different possibilites on how to interact with your policies.</p>
<br>
<p class="text-center">You can look at all available policies in your building under the <b>Policies</b>-tab and share or delete them.</p>
<p class="text-center">Under <b>New Policies</b> you can create your own policies.</p>
<br>
<p class="text-center">The <b>Notifications</b>-tab shows all notifications that occur in your system. <b>Pending Policies</b> shows the policies you created, where you can decide if you want to add it to your system.</p>
<br>
<p class="text-center">Finally in the <b>Community</b>-tab, you can download and add policies from other users to your system.</p>
<br>
<img src = "static\images\SmartHome.jpg" alt = "" width = "320" height = "200" class="center">
{% endblock dashboard_content %}


